
<%=render 'shared/title', title: 'Sign Up'%>
<div class="well col-md-6">
  <%= form_for @user do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <br>
    <%= f.text_field :name %>
  </div>
  <div class="form-group">
    <%= f.label :password %>
    <br>
    <%= f.password_field :password%>
  </div>
  <br>
  <%= f.submit(@user.new_record? ? 'Sign Up' : 'Update Profile', class: 'btn btn-primary') %>
  <% end %>
</div>